body{
    background-color: #bbbbbb;
    font-family: "arial, sans-serif";
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header{
    background: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}
.header{
    align-content: center;
    margin-top: 0%;
}
h1, h2, h3{
    text-align: center;

}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
#about{
    padding: 20px;
    background: #bbbbbb;
}
#about h2{
    margin-top: 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project{
    width: 300px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
.project img {
    max-width: 100%;
    height: auto;
}
#contact {
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 65px;
    border: 3px solid black;
    border-radius: 25px;
    margin: 55px;
}
form label{
    margin-bottom: 5px;
}
form input, form textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
}
form input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
    height: 35px;
    margin: 5px;
    padding: 5px;
}
footer{
    text-align: center;
    align-content: center;
    padding: auto;
    background: #000000;
    width: 100%;
    height: 100px;
    color: #fff;
}
@media (max-width:600px){
    nav ul {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
}